@font-face{
    font-family:'IBMplexSans-Bold';
    src: url('fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'IBMplexSans-SemiBold';
    src: url('fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}


@font-face{
    font-family:'IBMplexSans-Medium';
    src: url('fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'IBMplexMono-Medium';
    src: url('fonts/IBMPlexMono-Medium.ttf') format('truetype');
}

body {background-color: black;}

#timer{
    font-family: 'IBMplexMono-Medium', sans-serif; 
    color: white; 
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 50px;
    letter-spacing: -1px; 
}

table {
    border-collapse: separate;
    border-spacing: 15px 0;
    border: none;
    table-layout: fixed;

}
th, td {
    border: none;
    color: white
}

table th {
    font-family: 'IBMplexSans-SemiBold';
    font-size: 28px;
    letter-spacing: -1px; 
}

table td:first-child {
    font-family: 'IBMplexSans-Bold', sans-serif;
    font-size: 25px;
    padding-right: 35px;
}

table td {
    font-family: Arial, sans-serif; /* Example of a default font */
}

.cell-left {
    font-family: 'IBMplexMono-Medium', sans-serif; 
    font-size: 20px;
    color: black; 
    background-color: white;
    text-align: center; 
    padding-left: 10px; 
    padding-right: 10px;
    
}

.cell-left.done{
    background-color: #adf7b6;
}

.cell-left.active{
    background-color: #79addc;
}

.separator, .separatorDone, .separatorActive {
    position: relative; 
    height: 25px; 
}

.separator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 100%; 
    width: 6px; 
    background-color: white;
}

.separatorDone::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 100%; 
    width: 6px;
    background-color: #adf7b6;
}

.separatorActive::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translate(-50%, 0); 
    height: 100%; 
    width: 6px;
    background-color: #79addc;
}

.cell-right {
    width: 160px;
    font-family: 'IBMplexSans-SemiBold', sans-serif;
    font-size: 16px;
    color: white; 
    text-align: left;
}

.cell-team {
    font-family: 'IBMplexSans-Bold', sans-serif;
    font-size: 30px;
    color: white; 
    text-align: center;
    padding-bottom: 15px;
}


.cell-end {
    font-family: 'IBMplexMono-Medium', sans-serif; 
    font-size: 20px;
    color: white; 
    text-align: center;     
    overflow: visible;
    white-space: nowrap;
    padding-bottom: 15px;
}

#timer {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}