<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Episode Times</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


<script>


document.addEventListener('DOMContentLoaded', function() {
        var lastKnownModification = null;
    
        function fetchDataModificationTime() {
            fetch('{{ url_for('data_last_modified') }}')
                .then(response => response.json())
                .then(data => {                    
                    if (lastKnownModification === null) {
                        lastKnownModification = data.lastModified;
                        
                    } else if (lastKnownModification !== data.lastModified) {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error("Error fetching modification time:", error);
                });
        }
    
        //Check every 10 seconds
        setInterval(fetchDataModificationTime, 10000);
    
});


const startButton = document.getElementById('startButton');
startButton.addEventListener('click', () => {
    startTimer(new Date());
});
</script>

</head>
<body>
<div id="timer">00:00:00</div>



<table id="episodeTable">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>
</body>
</html>

<script src="../scripts/timer.js"></script>
<script src="../scripts/times.js"></script>